.container--main {
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 $grid-gutter-width / 2;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

h2 {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width * 1.5;
}

.warning--empty {
    padding: $grid-gutter-width;
    background: #f9f9f9;
    text-align: center;
    font-size: $font-size-large;
    font-family: $headings-font-family;
    cursor: default;
}

.backlinks {
    margin-bottom: $grid-gutter-width / 2;

    a {
        display: inline-block;

        i {
            margin-right: 5px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}
